.divider-text {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;

  span {
    padding: 7px;
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 80%;
    left: 0;
    z-index: 1;
  }
}

.new-arrivals {

  .section-title {
    font-weight: 600;

    span {
      background: #fff;
    }
  }

  .product-box{ 
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 155%;
    border: 1px solid #eee;

    .reponsive-box {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }

    .wrap {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: flex-end;

      .product-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-size: cover;
        background-position: 0 0;
        transition: transform 300ms ease;
        pointer-events: none;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .product-content {
        position: relative;
        transform: translateY(calc(100% - 80px));
        
        background: #fff;
        width: 100%;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 1;

        .product-name {
          display: inline-block;
          width: 100%;
          //height: 2.3em;
          margin-bottom: 0;
          font-size: 0.9em;
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          color: #666;
          overflow: hidden;
          word-break: break-word;
          margin-bottom: 0;
          line-height: 1em;
        }
        
        .product-price {
          text-align: center;
          color: #333;
          font-size: 1em;
          margin-bottom: 0;
          font-weight: 600;
          
          .small {
            font-size: 0.7em;
            color: #9E9E9E;
          }
        }
        
        .product-rating {
          text-align: center;
          font-size: 0.7em;
        }
        
        .product-title {
          font-size: 0.9em;
          line-height: 1.2em;
          margin-bottom: 0;
          margin-top: 20px;
          text-align: center;
          text-indent: 10px;
          padding: 5px;
        }

        .btn {
          border-radius: 100%;
          border: 1px solid #ddd;
          color:#989898;
          width: 45px;
          height: 45px;
          padding: 0;
          margin-left: 10px;

          &:hover {
            color: orange;
            border: 1px solid orange;
          }

          &:focus {
            outline: none !important;
            box-shadow: none;
          }
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1)
        );
        transform: translateY(100%);
        transition: transform 0.3s ease;
      }

      &:hover {
        .product-image {
          transform: translateY(-5%);
        }

        .product-content {
          transform: translateY(0);
        }

        &::after {
          transform: translateY(0);
        }
      }
        
    }
  }
   
}

.hot-cat {
  background: #eee;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #fff;
  }

  .row {
    background: #fff;
    margin: 0;

    [class^="col-"] {
      padding: 0;
    }
  }

  .cat-card {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .banner-block {
    position: relative;
    padding-bottom: 25%;
    min-height: 180px;
    width: 100%;


    .wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      background: #fff;
    }

    .banner-group {
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
    
    .first {
      overflow: hidden;
      content: "";
      position: absolute;
      left: -325px;
      top: 0;
      display: block;
      background: transparent;
      width: calc(50% + 325px - 5px);
      height: 100%;
      -moz-transform: skew(45deg, 0deg);
      -webkit-transform: skew(45deg, 0deg);
      -o-transform: skew(45deg, 0deg);
      -ms-transform: skew(45deg, 0deg);
      transform: skew(45deg, 0deg);
    }
    
    .second {
      overflow: hidden;
      content: "";
      display: block;
      position: absolute;
      right: -325px;
      background: transparent;
      width: calc(50% + 325px - 5px);
      height: 100%;
      -moz-transform: skew(45deg, 0deg);
      -webkit-transform: skew(45deg, 0deg);
      -o-transform: skew(45deg, 0deg);
      -ms-transform: skew(45deg, 0deg);
      transform: skew(45deg, 0deg);
    }
    
    .banner {
      width: calc(100% - 325px/2);
      height: 100%;
      -moz-transform: skew(-45deg, 0deg);
      -webkit-transform: skew(-45deg, 0deg);
      -o-transform: skew(-45deg, 0deg);
      -ms-transform: skew(-45deg, 0deg);
      transform: skew(-45deg, 0deg);
      transition: background-size 0.5s ease;

      &:hover {
        background-size: 120% auto!important;
      }
    }
    
    .first .banner {
      position: absolute;
      left: 325px;
      background: url("https://bizweb.dktcdn.net/100/357/922/themes/727876/assets/sec_module_product_banner_1_1.jpg?1597317551631");
      background-position: center center;
      background-size: 100% auto;
    }
    
    .second .banner {
      position: absolute;
      right: 325px;
      background: url("https://bizweb.dktcdn.net/100/357/922/themes/727876/assets/sec_module_product_banner_1_2.jpg?1597317551631");
      background-size: 100% auto;
      background-position: center center;
    }
  }

}

.big-category {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #eee;

  .section-title {
    font-weight: 600;

    span {
      background: #eee;
    }
  }

  .sidebar {
    .category {
      padding: 0;
      margin-top: 20px;

      li {
        color: #676767;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 13px;
        padding: 12px 0;
        text-overflow: ellipsis;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &.active {
          color: #222;
        }

        &:hover {
          color: #222;
          margin-left: 10px;
        }

        &:focus {
          outline: none!important;
        }
      }

      li:not(:last-child) {
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }

  .content {
    .sub-category {

      li {        
        display: inline-block;
        background: #fff;
        text-transform: uppercase;
        font-size: 12px;
        margin: 15px 8px 0 0;
        padding: 8px 15px;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 500;

        &.active {
          color: #fff;
          background: rgb(255, 166, 0);
        }
      }
    }

    .product-wrap {
      position: relative;
      width: 100%;
      padding-top: 160%;

      .product-box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px;
        padding-top: 10px;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 5px;

        .product-image {
          width: 100%;
          height: 76%;  
  
          img {
            object-fit: contain;
            min-width: 80%;
            max-width: 100%;
            max-height: 100%;
          }
        }

        .product-content {
          position: relative;
          transform: translateY(calc(100% - 80px));
          
          background: #fff;
          width: 100%;
          transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          z-index: 1;
  
          .product-name {
            display: inline-block;
            width: 100%;
            //height: 2.3em;
            margin-bottom: 0;
            font-size: 0.9em;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            color: #666;
            overflow: hidden;
            word-break: break-word;
            margin-bottom: 0;
            line-height: 1em;
          }
          
          .product-price {
            text-align: center;
            color: #333;
            font-size: 1em;
            margin-bottom: 0;
            font-weight: 600;
            
            .small {
              font-size: 0.7em;
              color: #9E9E9E;
            }
          }
          
          .product-rating {
            text-align: center;
            font-size: 0.7em;
          }
          
          .product-title {
            font-size: 0.9em;
            line-height: 1.2em;
            margin-bottom: 0;
            margin-top: 20px;
            text-align: center;
            text-indent: 10px;
            padding: 5px;
          }
        }

      }
    }

    ::ng-deep .owl-carousel {
      position: relative;
    
      &:hover {
        .owl-nav {
          visibility: visible;

          .owl-next, .owl-prev { 
            opacity: 1;
          }

          .owl-next {
            right: -15px;
          }
  
          .owl-prev{
            left: -15px;
          }
        }
      }

      .owl-nav {
        visibility: hidden;
        margin-top: 0;

        .owl-next, .owl-prev {
          background: #fff;
          display: block;
          position: absolute;
          top: 45%;
          color: #878fa0;
          text-align: center!important;
          box-shadow: 0 7px 10px 0 rgba(72,139,216,0.2);
          border: 1px solid #f1f2f3;
          width: 32px;
          line-height: 50px;
          border-radius: 4px;
          font-size: 16px;
          font-weight: normal;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transition: all 0.3s;
          opacity: 0;

          &:focus {
            outline: none;
          }

          &.disabled {
            color: #ddd;
          }
        }

        .owl-next {
          right: -40px;
        }

        .owl-prev{
          left: -40px;
        }
      }

      .owl-dots {
        margin-top: 5px;

        .owl-dot {

          &.active {
            span { background: #ffc107; }
          }

          &:focus {
            outline: none;
          }
        }
      }

    }

  }

}

.highestRating {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(30, 34px);
    grid-template-rows: repeat(14, 34px);
    overflow-x: auto;
  }

  .item {
    position: relative;
    border-radius: 50%;
    border: 1px dashed #666;
  }

  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .i-1 {
    grid-column: 1/5;
    grid-row: 4/8;
  }
  
  .i-2 {
    grid-column: 10/17;
    grid-row: 1/8;
  }
  
  .i-3 {
    grid-column: 5/10;
    grid-row: 5/10;
  }
  
  .i-4 {
    grid-column: 18/23;
    grid-row: 1/6;
  } 
  
  .i-5 {
    grid-column: 14/20;
    grid-row: 8/14;
  } 
  
  .i-6 {
    grid-column: 21/28;
    grid-row: 6/13;
  } 
  
  .i-7 {
    grid-column: 28/33;
    grid-row: 4/9;
  }
}
