.btn:focus {
  box-shadow: none!important;
}

.selected {
  width: 100%;
  min-height: 36px;
  padding: 8px 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin-bottom: 5px;
}

.modal-dialog {
  width: 100%;
  
  .modal-content {
    border: none;

    .modal-header {
      padding: 0.7em 1em;
      background: #039be5;
      color: white;
    
      .close {
        color: #fff;
        &:focus {
          outline: none;
        }
      }
    }
    
    .modal-body {
      overflow: auto;
      max-height: 500px;
    
      li {
        padding-top: 0.5rem!important;
      }
    }    
  }
}
.modal-lg, .modal-xl {
  @media (min-width: 992px) {
    max-width: 600px;
  }
}
