<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="card widget bg-gradient-primary mb-3">
        <div class="card-header">
          <div class="text-value">9076</div>
          <div>Members online</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="membersOnlineChart1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card widget bg-gradient-info mb-3">
        <div class="card-header">
          <div class="text-value">9076</div>
          <div>Members online</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="membersOnlineChart2"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card widget bg-gradient-warning mb-3">
        <div class="card-header">
          <div class="text-value">9076</div>
          <div>Members online</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="membersOnlineChart3"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card widget bg-gradient-danger mb-3">
        <div class="card-header">
          <div class="text-value">9076</div>
          <div>Members online</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="membersOnlineChart4"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div class="card widget card-custom">
        <div class="card-body">
          <div>
            <h4>Traffic</h4>
            <div class="small text-muted">September 2019</div>
          </div>
          <div class="chart">
            <canvas id="membersOnlineChart5"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
