<footer>
  <section class="section-1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <ul>
            <li><h4><i>Materialize</i></h4></li>
            <li>
              <p>Bạn có thể mua sắm thoải mái mà không có bất kỳ lo lắng nào: có thể trả hàng trong vòng 30 ngày kể từ ngày nhận hàng. Nếu bạn có bất kì câu hỏi nào về các sản phẩm của chúng tôi hãy gọi ngay tới bộ phận chăm sóc khách hàng.</p>
            </li>
          </ul>

          <nav class="d-flex flex-wrap">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="support">
                  <h6 class="title">Hỗ trợ 24/7</h6>
                  <ul>
                    <li><p><i class="fas fa-envelope mr-1"> </i><a href="mailto:abc@gmail.com"> Email: abc@gmail.com</a></p></li>
                    <li><p><i class="fas fa-phone mr-1"> </i><a href="tel:(+84)360001234"> Điện thoại: (+84) 36-000-1234</a></p></li>
                    <li><p><i class="fas fa-map-marker-alt mr-1"> </i> Địa chỉ: Bình Thạnh, TP. HCM</p></li>
                    <li><p><i>Giờ làm việc 8h00 – 22h00, thứ hai đến chủ nhật</i></p></li>
                  </ul>
                </div>
              </div>

              <div class="col-12 col-md-6 p-md-0">
                <div class="pay-method">
                  <h6 class="title">Phương thức thanh toán</h6>
                  <ul class="d-flex justify-content-center flex-wrap">
                    <li><a href="#"><img src="assets/img/pay-method/bank_sacom.png"></a></li>
                    <li><a href="#"><img src="assets/img/pay-method/bank_techcom.png"></a></li>
                    <li><a href="#"><img src="assets/img/pay-method/bank_vietin.png"></a></li>
                    <li><a href="#"><img src="assets/img/pay-method/bank_vietcom.png"></a></li>
                    <li><a href="#"><img src="assets/img/pay-method/bank_donga.png"></a></li>
                    <li><a href="#"><img src="assets/img/pay-method/bank_acb.png"></a></li>
                    <li><a href="#"><img src="assets/img/pay-method/bank_bidv.png"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-12 col-md-6 pl-xl-5">
          <div class="register">
            <h6 class="title">Đăng kí nhận thông tin khuyến mại</h6>
            <p>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</p>
            <p><i>We won't spam, promise!</i></p>
            <form class="w-75 mt-4">
              <div class="input-group input-group-sm m-auto">
                <input type="text" class="form-control" placeholder="Email">
                <div class="input-group-append">
                  <button class="btn px-md-4 btn-success"> Đăng kí </button>
                </div>
              </div>
            </form>
          </div>
          <div class="connect">
            <h6 class="title">Kết nối</h6>
            <ul>
              <li><a href="#"><img src="assets/img/social-icons/fb.png"></a></li>
              <li><a href="#"><img src="assets/img/social-icons/g+.png"></a></li>
              <li><a href="#"><img src="assets/img/social-icons/in.png"></a></li>
              <li><a href="#"><img src="assets/img/social-icons/msg.png"></a></li>
              <li><a href="#"><img src="assets/img/social-icons/prt.png"></a></li>
              <li><a href="#"><img src="assets/img/social-icons/twt.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <li><a href="#">Lorem ipsum amet</a></li>
            <li><a href="#">dolor sit</a></li>
            <li><a href="#">consectetur</a></li>
            <li><a href="#">adipisicing</a></li>
            <li><a href="#">voluptatibus</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
