@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

.btn {
  &:active, &:focus {
    box-shadow: none!important;
  }
}

.table-header {
  background: rgb(98,23,163);
  background: linear-gradient(90deg, rgba(98,23,163,1) 0%, rgba(123,22,172,1) 50%, rgba(171,9,191,1) 100%);
  color: #fff;
  margin-bottom: 5px;

  .title h3 {
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 0;
    float: left;
    font-size: 1.53em;
  }

  .controls {
    float: right;

    .btn {
      font-size: 14px;
      margin-left: 6px;

      &:focus {
        box-shadow: none;
      }
    }

    .btn-cancel {
      background: #fff;
      color: #000;
      &:hover {
        background-color: #ddd;
      }
    }

    .btn-save {
      background: #1e91cf;
      color: #fff;
      &:hover {
        background-color: #30178a;
      }
    }

    .btn-add {
      background: #27c46b;
      color: #fff;
      &:hover {
        background-color: #45a164;
      }
    }

    .btn-delete {
      background: #d80b0b;
      color: #fff;
      &:hover {
        background-color: #960909;
      }
    }
  }
}

.table-filter {
  .show-entries {
    margin-bottom: 10px;
    padding-top: 10px;
    float: left;
    color: #757575;
    margin-left: 10px;
    font-size: 15px;
    line-height: 10px;

    select {
      border: none;
      width: 45px;
      color: #757575;
      border-bottom: 1px solid #eee;
      &:hover {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .options {
    float: right;
    padding-top: 3px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;

    i {
      font-size: 11px;
    }
  }

  .search-box {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;

    input {
      height: 34px;
      padding-left: 34px;
      box-shadow: none !important;
      border-width: 0 0 1px 0;
      border-radius: 0px;
      font-size: 15px;

      &:focus {
        border-color: #3fbae4;
      }
    }

    .search-icon {
      position: absolute;
      left: 8px;
      top: 5px;
    }
  }
}

.filters-panel {
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;

  &.show {
    max-height: 300px;
    transition: max-height 0.8s ease;
  }
}

.datatable {
  min-width: 600px;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue, Helvetica, Arial",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  color: #212121;
  margin: 0;
  border: 1px solid #ddd;
}

th, td {
  border-color: #e9e9e9;
  vertical-align: middle;
  color: #4f5d73;
  text-align: left;
}

th:hover {
  cursor: pointer;
}

.sort-icon {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  user-select: none;
}

.status {
  float: left;
  color: #757575;
  margin-left: 10px;
  line-height: 24px;
}

::ng-deep .pagination {
  float: right;

  ul {
    margin-bottom: 0;
  }

  .current {
    background: #337ab7;
    border-radius: 50% !important;
    // &:hover {
    //   background: #03a9f4;
    //   border-radius: 50%;
    // }
  }

  li {
    font-size: 14px;
    margin-right: 4px;

    a {
      &:hover {
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }
    }
  }

  li:not(.pagination-previous):not(.pagination-next) a {
    border-radius: 50% !important;
  }
}

.table-footer {
  padding: 15px 15px;
  padding-right: 30px;
}
