<ng-template #defaultHeaderButtons>
  <button class="btn btn-header-add"><i class="fa fa-plus"></i></button>
  <button class="btn btn-header-delete"><i class="fa fa-trash"></i></button>
</ng-template>

<ng-template #defaultHeader let-column="column">
  {{ column.name }}
</ng-template>

<ng-template #defaultCell let-value="value" let-root="root">
  {{ value }}
</ng-template>

<ng-template #defaultFooter let-selected="selectedCount" let-total="total" let-loading="loading">
  <span *ngIf="checkbox">{{ selected }} selected / </span>{{ total }} total <span class="text-success" *ngIf="loading"> loading...</span>
</ng-template>

<ng-template #defaultFilterForm let-submit="onFilterChange">
  <form #form="ngForm"></form>
</ng-template>

<div class="table-wrapper pb-2">
  <div class="table-header clearfix p-2">
    <div class="title">
      <h3><i class="far fa-list small ml-2 mr-1"></i> {{ name }}<span class="small"> table</span></h3>
    </div>
    <div class="controls">
      <ng-template *ngTemplateOutlet="headerButtons?.template || defaultHeaderButtons; context: this"></ng-template>
    </div>
  </div>

  <div class="table-filter clearfix">
    <div class="show-entries">
      <span>Show </span>
      <select (change)="onSelectEntries($event)">
        <option value="5" selected>5</option>
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="80">80</option>
      </select>
      <span> entries</span>
    </div>

    <div class="options">
      <button *ngIf="filterable" (click)="filtersPanelToggle()" class="btn btn-sm btn-primary"><i class="fas fa-filter"> </i>
        Filters</button>
    </div>

    <div class="search-box">
      <input type="text" class="form-control" placeholder="Search&hellip;">
      <div class="search-icon"><i class="far fa-search"></i></div>
    </div>
  </div>

  <div *ngIf="filterable" #filtersPanel class="filters-panel">
    <ng-template *ngTemplateOutlet="filterForm?.template || defaultFilterForm; context: this"></ng-template>
  </div>

  <div class="table-responsive">
    <table class="table table-hover datatable">
      <thead>
        <th *ngIf="checkbox" class="text-center checkbox">
          <div class="pretty p-icon p-smooth">
            <input #selectAllCheckbox type="checkbox" (change)="onSelectAll()">
            <div class="state p-success">
              <i class="icon material-icons">done</i>
              <label></label>
            </div>
          </div>
        </th>

        <th *ngFor="let column of columns">
          <ng-template *ngTemplateOutlet="column.header?.template || defaultHeader; context: { column: column }"></ng-template>

          <ng-template [ngIf]="column.sortable" [ngSwitch]="column.order">
            <span (click)="column.onSortBtnClick()" class="sort-icon">
              <i *ngSwitchCase="'none'" class="fal fa-sort"></i>
              <i *ngSwitchCase="'asc'" class="far fa-angle-up"></i>
              <i *ngSwitchCase="'desc'" class="far fa-angle-down"></i>
            </span>
          </ng-template>
        </th>
      </thead>
      
      <tbody>
        <tr *ngFor="let row of data | paginate: { 
          itemsPerPage: pagination.pageSize, 
          currentPage: pagination.page, 
          totalItems: pagination.total 
        }; 
        let index = index"
        >
          <td *ngIf="checkbox" class="text-center checkbox">
            <div class="pretty p-icon p-smooth">
              <input #checkboxes type="checkbox" (change)="onSelect(index, row)">
              <div class="state p-success">
                <i class="icon material-icons">done</i>
                <label></label>
              </div>
            </div>
          </td>

          <td *ngFor="let column of columns" class="align-middle">
            <ng-template 
              [ngTemplateOutlet]="column.cell?.template || defaultCell"
              [ngTemplateOutletContext]="{ root: row, value: getCellValue(row, column) }"
            ></ng-template>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="table-footer clearfix">
    <div class="status">
      <ng-template 
        [ngTemplateOutlet]="footer?.template || defaultFooter"
        [ngTemplateOutletContext]="{ selectedCount: selectedCount, total: pagination.total, loading: loading }"
      ></ng-template>
    </div>
    <pagination-controls (pageChange)="onPageChange($event)" class="pagination" [responsive]="true">
    </pagination-controls>
  </div>
</div>
