<div class="checkout py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 pr-lg-0">
        <div *ngIf="customer" class="content">
          <h5 class="title">Địa chỉ nhận hàng</h5>
          <div class="mx-3">

            <div [ngSwitch]="addressAction" class="ml-2">

              <ng-template [ngSwitchCase]="action.VIEW">
                <div><strong> {{ selectedAddress?.name || customer.displayName }} </strong></div>
                <div>{{ selectedAddress?.phone || '- - -' }}</div>
                <div *ngIf="selectedAddress?.address; let address">
                  <span *ngIf="address.street"> {{ address.street }}, </span>
                  <span>{{ address.ward.name }} - </span>
                  <span>{{ address.district.name }} - </span>
                  <span>{{ address.province.name }}</span>
                </div>
                <div *ngIf="!selectedAddress?.address">- - -</div>
  
                <a (click)="onChangeAddressBtnClick($event)" href="#" class="my-3" type="button">Thay đổi địa chỉ</a>
              </ng-template>

              <ng-template [ngSwitchCase]="action.SELECT">
                <div *ngFor="let address of customer.addresses; let index = index">

                  <div class="d-flex align-items-center w-100 mb-3">
                    <div style="width: 50px;" class="text-center">
                      <div class="pretty p-default p-round">
                        <input type="radio" name="radio" (change)="onAddressRadioChecked(address)" [checked]="address === selectedAddress">
                        <div class="state p-warning">
                          <label></label>
                        </div>
                      </div>
                    </div>
                    <div style="width: calc(100% - 140px);">
                      <strong>{{ address.name }}</strong> | {{ address.phone }}
                      <br>
                      <span *ngIf="address.address.street"> {{ address.address.street }}, </span>
                      <span>{{ address.address.ward.name }} - </span>
                      <span>{{ address.address.district.name }} - </span>
                      <span>{{ address.address.province.name }}</span>
                    </div>
                    <div style="width: 80px;"><a (click)="onEditAddressBtnClick($event, index)" href="#">Chỉnh sửa</a></div>
                  </div>
                  
                </div>
                <hr>
                <button (click)="onCreateAddressBtnClick()" class="d-block btn add-address-btn"><i class="fa fa-plus"></i> Thêm địa chỉ nhận hàng</button>
                <button (click)="onContinueBtnClick()" class="btn btn-danger px-5 mt-3 mb-2">Tiếp tục</button>
              </ng-template>

              <ng-template [ngSwitchCase]="action.CREATE_OR_EDIT">
                <div class="w-100">
                  <form class="ml-auto mr-auto">
                    <div class="row form-group">
                      <label class="col-sm-3 col-form-label text-md-right">Họ tên người nhận</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" placeholder="Họ tên người nhận">
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 col-form-label text-md-right">Số điện thoại</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" placeholder="Số điện thoại người nhận">
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 col-form-label text-md-right">Tỉnh thành</label>
                      <div class="col-sm-7">
                        <select class="form-control" (change)="onSelectProvince($event)">
                          <option class="d-none text-secondary" value="" disabled selected>Chọn tỉnh thành</option>
                          <option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 col-form-label text-md-right">Quận huyện</label>
                      <div class="col-sm-7">
                        <select class="form-control" (change)="onSelectDistrict($event)">
                          <option class="d-none text-secondary" value="" disabled selected>Chọn quận huyện</option>
                          <option *ngFor="let district of districtsAndWards" [value]="district.code">{{ district.pre }} {{ district.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 col-form-label text-md-right">Xã phường</label>
                      <div class="col-sm-7">
                        <select class="form-control">
                          <option class="d-none text-secondary" value="" disabled selected>Chọn xã phường</option>
                          <option *ngFor="let ward of wards" [value]="ward.code">{{ ward.pre }} {{ ward.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 col-form-label text-md-right">Địa chỉ</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" placeholder="Nhập số nhà, tên đường">
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </div>

          </div>
        </div>
      </div>
  
      <div class="col-12 col-lg-4">
        <div *ngIf="checkout" class="content">
          <h5 class="title">Thông tin đơn hàng</h5>
          <div class="mx-3">
            <div *ngFor="let item of checkout.items" class="product-box clearfix">
              <div class="image float-left">
                <img [src]="item.images[0].url">
              </div>
              <div class="quantity float-right">
                <span class="small">&#x2715;</span> {{ item.quantity }}
              </div>
              <div class="detail float-right">
                <p class="name">{{ item.name }}</p>
                <p class="price">{{ item.pricing.price | currency: 'đ' }}</p>
              </div>
            </div>
          </div>

          <hr>

          <form class="form">
            <textarea class="form-control" rows="2" placeholder="Ghi chú cho cửa hàng"></textarea>
          </form>
        </div>

        <div *ngIf="checkout" class="content">
          <div class="sub-total mx-3">
            <div class="clearfix">
              <span class="float-left">Tiền hàng: </span>
              <span class="float-right"> {{ checkout.totalPrice | currency: 'đ' }} </span>
            </div>
            <div class="clearfix">
              <span class="float-left">Phí vận chuyển: </span>
              <span class="float-right"> {{ checkout.shippingFee | currency: 'đ' }} </span>
            </div>
          </div>

          <hr>

          <div class="total mx-3 mt-3 mb-4">
            <div class="clearfix">
              <span class="float-left">Tổng thanh toán: </span>
              <b class="float-right"> {{ checkout.total | currency: 'đ' }} </b>
            </div>
          </div>

          <button (click)="placeOrder()" class="btn btn-danger p-2 w-100"> Đặt mua </button>
        </div>
      </div>
    </div>
  </div>
</div>
