div {
	position: relative;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
	min-height: 100%;
	position: absolute;
	top: 0;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0px;
}

a, a:hover, a:visited, a:active, a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.cat_menu_container {
	width: 250px;
	height: 100%;
	background: #229bc9;
	padding-left: 35px;
	cursor: pointer;
	z-index: 5;
}

.cat_menu_title {
	height: 100%;
}

.cat_burger {
	width: 18px;
	height: 14px;
}

.cat_burger span {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #FFFFFF;
}

.cat_burger span:nth-child(2) {
	top: 6px;
}

.cat_burger span:nth-child(3) {
	top: 12px;
}

.cat_menu_text {
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-left: 20px;
}

.cat_menu_container ul {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	min-width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.cat_menu_container > ul {
	padding-top: 13px;
}

.cat_menu_container:hover .cat_menu {
	visibility: visible;
	opacity: 1;
}

.cat_menu li {
	display: block;
	width: auto;
	height: 46px;
	border-bottom: solid 1px #f2f2f2;
	padding-left: 35px;
	padding-right: 30px;
	white-space: nowrap;
}

.cat_menu li.hassubs > a i {
	display: block;
}

.cat_menu li a {
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	color: #000000;
	line-height: 46px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.cat_menu li:hover> a {
	color: #0e8ce4;
}

.cat_menu li a i {
	display: none;
	position: absolute;
	cursor: context-menu;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	font-size: 12px;
}

.cat_menu li ul {
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
}

.cat_menu li:hover > ul {
	top: 0;
	visibility: visible;
	opacity: 1;
}

@media only screen and (max-width: 1199px) {
	.cat_menu_container
	{
		width: 211px;
		padding-left: 25px;
	}
}

@media only screen and (max-width: 991px) {
	.cat_menu_container ul
	{
		visibility: hidden;
		opacity: 0;
	}
}

@media only screen and (max-width: 575px) {
	.cat_menu_container {
		padding-left: 15px;
		width: auto;
		padding-right: 15px;
	}

	.cat_menu_text {
		font-size: 14px;
		margin-left: 12px;
	}

	.cat_burger {
	    width: 16px;
	    height: 12px;
	}

	.cat_burger span:nth-child(2) {
		top: 5px;
	}
	
	.cat_burger span:nth-child(3) {
		top: 10px;
	}

	.cat_menu li {
		height: 36px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.cat_menu li a {
		font-size: 15px;
		line-height: 36px;
	}

	.cat_menu li ul {
		left: 50%;
		z-index: 5;
	}
}
