#error {
  position: relative;
  height: 100vh;
  background: #f6f6f6;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 110px 40px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}

.error .error-500 {
  position: relative;
  height: 180px;
}

.error .error-500 h1 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 125px;
  font-weight: 700;
  margin: 0px;
  color: #ff0101;
  text-transform: uppercase;
}

.error .error-500 h1>span {
  color: #000;
}

.error h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  //color: #00b7ff;
  color: #000; 
  margin-top: 0px;
  margin-bottom: 25px;
}

.error .error-search {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: auto;
}

