.wrap {
  padding: 0;
  background: #fff;

  img {
    width: 40px;
    height: 46px;
  }

  .table {
    min-width: 600px;

    .attribute {
      color: grey;
      font-size: 0.8em;
    }

    tr {
      td:nth-child(1) {
        max-width: 100px;
      }
    }
  }

  .join-item {
    span:not(:last-child):after {
      display: inline-block;
      content: "";
      border-radius: 50%;
      background: #0094ec;
      width: 5px;
      height: 5px;
      margin: 10px;
      margin-bottom: 4px;
    }
  }
}

.modal {
  z-index: 100000;
}
