.breadcrumb-wrapper {
  box-shadow: 0 2px 2px 0 rgba(60,75,100,.14), 0 3px 1px -2px rgba(60,75,100,.12), 0 1px 5px 0 rgba(60,75,100,.2);
  z-index: 1000;

  .breadcrumb {
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;

    li {
      font-size: 14px;
    }

    .breadcrumb-item a {
      color: #321fdb;
    }

    .disabled {
      color: #888;
    }
  }
}
