$sidebar-width: 240px;

.navbar {
  position: sticky;
  top: 0;
  max-height: 55px;
  box-shadow: 0px 0px 3px #ccc;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(60, 75, 100, 0.14), 0 3px 1px -2px rgba(60, 75, 100, 0.12),
    0 1px 5px 0 rgba(60, 75, 100, 0.2);

  .navbar-header {
    .navbar-brand {
      width: $sidebar-width;
      text-align: center;
      margin: 0;
    }

    .navbar-toggler {
      font-size: 22px;
      cursor: pointer;
      color: #757575;

      &:hover {
        color: #f8be12;
      }
    }

    .navbar-right {

      .avatar {
        width: 35px;
        height: 35px;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 5px;
      }

      ul {
        font-size: 14px;
        line-height: 38px;
        color: #6D6D6D;
        margin-bottom: 0;

        li {
          margin: -10px 0;
          padding: 10px 15px;
          display: inline-block;
        }

        a {
          cursor: pointer;
        }

        li:not(:first-child) {
          border-left: 1px solid #ddd;
        }
      }
    }
  }
}

.sidebar-nav {
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 10px;
    line-height: 42px;
    background: #242d37;

    &.active > a {
      color: #0b91d2!important;
    }

    a {
      display: block;
      text-decoration: none;
      font-weight: normal;
      font-size: 14px;
      padding-top: 3px;
      padding-bottom: 3px;

      i.fas, i.fal {
        width: 45px;
      }
    }
  }
  
  // li not inside .parent
  > li {
    background: #242d37;

    &.active {
      color: #0b91d2;;
      background: #171b21;;
    }

    > a {
      color: #fff;
      border-top: 1px solid #2b3642;
      border-bottom: 1px solid #2b3642;
    }

    &.parent > a::after {
      content: "\f107";
      font-family: "Font Awesome 5 Pro"; 
      float: right;
      font-size: 12px;
      margin-right: 30px;
    }

    a.collapsed::after{
      content: "\f105";
    }
  }

  // Inside .parent
  .parent {
    > ul {
      padding: 0;

      li {
        background: #293141;
      }
      
      li.active, li:hover {
        background: #242D37;
      }

      a {
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 0;
        color: #7f8a9b;
        cursor: pointer;

        &::before {
          font-family: "Font Awesome 5 Pro";
          content: "\f101";
          font-size: 12px;
          margin-right: 15px;
          transition: margin ease 0.5s;
        }

        &:hover{
          color: #fff;

          &::before {
            margin-right: 25px;
          }
        }
      }
    }
  }
}

.wrapper {
  position: relative;
  transition: all 0.5s ease;

  .sidebar {
    position: fixed;
    z-index: 1000;
    height: 100%;
    left: 0;
    overflow-y: auto;
    background: #242d37;;
    transition: all 0.5s ease;

    &:hover {
      width: $sidebar-width !important;
    }

    .sidebar-content {
      width: $sidebar-width;

      a {
        transition: background 0.2s, color 0.2s;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      .sidebar-brand {
        text-align: center;
        padding: 20px 0;
      }
    }
  }

  .main-side {
    width: 100%;
    position: relative;
    transition: width 0.5s ease;

    .content {
      background: #ebedef;
      min-height: calc(100vh - 100px);
    }
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding-left: $sidebar-width;

    .sidebar {
      width: $sidebar-width;
    }
  }

  .wrapper.toggled {
    padding-left: 55px;

    .sidebar {
      width: 55px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    padding-left: 55px;

    .sidebar {
      width: 55px;
    }
  }

  .wrapper.toggled {
    padding-left: $sidebar-width;

    .sidebar {
      width: $sidebar-width;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding-left: 0;
    overflow: hidden;
    .sidebar {
      width: 0;
    }

    .main-side {
      width: 100%;
    }
  }

  .wrapper.toggled {
    padding-left: $sidebar-width;
    overflow: hidden;

    .sidebar {
      width: $sidebar-width;
    }

    .main-side {
      width: calc(100% + #{$sidebar-width});
    }
  }
}
