<nav class="navbar navbar-inverse pl-0 pr-0">
  <div class="container-fluid p-0">
    <div class="navbar-header w-100 d-flex justify-content-between">
      <a class="navbar-brand order-1 order-md-0"><h5 class="m-0">Materialize</h5></a>
      <a class="navbar-toggler order-0 order-md-1" id="js-sidebar-toggle"><i class="fa fa-bars"></i></a>
      
      <div class="navbar-right d-flex ml-sm-auto order-2">
        <ul type="none">
          <li>
            <img *ngIf="user?.avatar" class="avatar" [src]="user.avatar">
            <span class="d-none d-md-inline">{{ user.name }}</span>
          </li>
          <li class="d-none d-md-inline-block">
            <a (click)="onLogoutBtnClick()"><i class="fa fa-sign-out"></i> Logout</a>
          </li>
        </ul>
      </div>
     
    </div>
  </div>
</nav>

<div class="wrapper" id="js-wrapper">
  <aside class="sidebar">
    <div class="sidebar-content">
      <ul class="sidebar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
        </li>

        <li [routerLinkActive]="'active'" class="parent"> 
          <a data-toggle="collapse" href="#submenu1" class="collapsed"><i class="fas fa-tags"></i> Catalog</a>
         
          <ul type="none" id="submenu1" class="collapse">
            <li [routerLinkActive]="'active'" [class.d-none]="!auth.can('category.read')">
              <a routerLink="/catalog/categories">Categories</a>
            </li>
            <li [routerLinkActive]="'active'" [class.d-none]="!auth.can('product.read')">
              <a routerLink="/catalog/products">Products</a>
            </li>
          </ul>
        </li>

        <li [routerLinkActive]="'active'" class="parent"> 
          <a data-toggle="collapse" href="#submenu2" class="collapsed"><i class="fas fa-user"></i> Customers</a>
         
          <ul type="none" id="submenu2" class="collapse">
            <li [routerLinkActive]="'active'" [class.d-none]="!auth.can('customer.read')">
              <a routerLink="/customers/customers">Customers</a>
            </li>
            <li [routerLinkActive]="'active'" [class.d-none]="!auth.can('customer-group.read')"[class.d-none]="!auth.can('customer-group.read')">
              <a routerLink="/customers/customer-groups">Customer groups</a>
            </li>
          </ul>
        </li>

        <li [routerLinkActive]="['active']"  [class.d-none]="!auth.can('category.read')">
          <a routerLink="/categories"><i class="fas fa-tags"></i>Categories</a>
        </li>
        <li [routerLinkActive]="['active']" [class.d-none]="!auth.can('product.read')">
          <a routerLink="/products"><i class="fas fa-tshirt"></i>Products</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink="/orders"><i class="fas fa-shopping-cart"></i>Sales</a>
        </li>
        <li>
          <a><i class="fas fa-chart-bar"></i>Reports</a>
        </li>
      </ul>
    </div>
  </aside>

  <aside class="main-side">
    <breadcrumb></breadcrumb>

    <div class="content p-2 p-md-3">
      <router-outlet></router-outlet>
    </div>
  </aside>
</div>
