.container {
  background: #fff;
  padding: 20px;
}

label {
  font-weight: 600;
  font-size: 14px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
}

.btn-warning {
  background: #dfb947;
}

.filters-form {
  margin-top: 20px;

  .price-range {
    margin-left: 10px;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    padding-left: 15px;
    font-size: 15px;
    height: 100px;
    overflow-y: scroll;
    //direction: rtl;

    li {
      margin-bottom: 10px;
      color: rgb(153, 148, 148);
      cursor: pointer;
      user-select: none;

      &:hover {
        text-decoration: none;
        color: #dfb947;
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgb(170, 167, 162);
      background-image: rgba(255, 255, 255, 0.432);
    }
  }
}

.view-mode {
  .btn {
    border: 1px solid #eee;
    margin-left: 5px;
    border-radius: 0;

    &.active {
      color: #dfb947;
    }
  }
}

.pretty label {
  font-size: 15px;
}

.column-view {
  .product-box {
    border-bottom: 1px solid #eee;
    margin-top: 20px;

    .product-thumbnail {
      margin-bottom: 15px;

      img {
        min-width: 80%;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .product-info {
      .product-name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
      }

      .product-rating {
        .stars {
          font-size: 0.75em;
          margin: 10px 0 6px 0;
          color: #eed029;
        }
      }

      .product-price {
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 16px;
        color: #222;
      }

      .product-title {
        font-size: 14px;
        text-align: justify;
      }

      .btn {
        margin-bottom: 15px;
        font-size: 15px;
        color: #fff;
      }
    }
  }
}

.grid-view {
  .product-wrap {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 160%;
    padding-bottom: 20%;
  }

  .product-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .product-thumbnail {
      width: 100%;
      height: 70%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .product-name {
      text-overflow: ellipsis;
      overflow: hidden; 
      white-space: nowrap;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: #666;
      margin-bottom: 4px;

      &:hover {
        color: #222;
      }
    }

    .product-rating {
      text-align: center;

      .stars {
        font-size: 0.7em;
        margin: 0 0 6px 0;
        color: #eed029;
      }
    }

    .product-price {
      text-align: center;
      font-weight: 600;
      font-size: 15px;
      color: #222;
    }
  }
}

.pagination {
  margin-top: 15px;
  
  ::ng-deep pagination-template {
    margin: 0 auto;
  }

  ::ng-deep ul {
    padding: 0;
  }

  ::ng-deep .current {
    color: #dfb947;
    background: #fff!important; 
  }

  ::ng-deep li {
    font-size: 15px;
    margin-right: 4px;

    a {
      &:hover {
        color: #dfb947;
        background: #fff;
        text-decoration: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
