.wrap-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.zoom {
  position: absolute;
  background-position: 50% 50%;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: zoom-in;
  opacity: 0;
  transition: opacity 0.5s;
  border: 1px solid #000;
}

.zoom:hover {
  opacity: 1;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // min-width: 60%;
  // max-width: 100%;
  // max-height: 100%; 
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

img:hover {
  opacity: 0;
}
